.js-irs-0 .irs-bar {
border-top-color: #daad86;
border-bottom-color: #daad86;
}

.js-irs-0 .irs-bar-edge {
border-color: #daad86;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #daad86;
}

.js-irs-1 .irs-bar {
border-top-color: #e27d60;
border-bottom-color: #e27d60;
}

.js-irs-1 .irs-bar-edge {
border-color: #e27d60;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #daad86;
}
